.header-area.header-sticky {
    min-height: 80px;
}
.header-area {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
    height: 80px;
    background: rgba(250,250,250,0.1);
}
header{
display: block;
margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
* {
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif; 
    font-weight: 400;
    background-color: #fff;
    font-size: 16px;   
}
div{
display: block;
margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
nav {
    display: block;
}
.header-area .main-nav .logo {
    line-height: 120px;
    color: #fff;
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
    
   
}

.header-area .main-nav .logo em {
    font-style: normal;
    color: #298;
    font-weight: 900;
}
@media (min-width: 767px)
.header-area .main-nav .nav {
    display: flex !important;
}
.header-area.header-sticky .nav {
    margin-top: 20px !important;
}
.header-area .main-nav .nav {
    float: left
    margin-top: 27px;
    margin-right: 0px;
    background-color: transparent;
    
   
    position: relative;
    z-index: 999;
}

.header-area .main-nav .menu-trigger {
    cursor: pointer;
    
    position: absolute;
    top: 23px;
    width: 32px;
    height: 40px;
    text-indent: -9999em;
    z-index: 99;
    right: 40px;
    display: none;
}
.header-area .main-nav .menu-trigger span {
    top: 16px;
transition: all 0.4s;
    background-color: #1e1e1e;
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 0;
}
span{
margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
.main-banner {
    position: relative;
}

div{
margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
#bg-video {
    min-width: 100%;
    min-height: 100vh;
    max-width: 100%;
    max-height: 100vh;
    object-fit: cover;
    z-index: -1;
}
.video-overlay {
    position: absolute;
    
    background-color: rgba(35,45,57,0.8);
    top: 0;
    left: 0;
    bottom: 7px;
    width: 100%;
}
.main-banner .caption {
    text-align: center;
    position: absolute;
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.main-banner .caption h6 {
    margin-top: 0px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    letter-spacing: 0.5px;
}

.main-banner .caption {
    text-align: center;
   
}
.main-banner .caption h2 {
    margin-top: 30px;
    margin-bottom: 25px;
    font-size: 84px;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    letter-spacing: 1px;
}

.main-banner .caption h2 em {
    font-style: normal;
    color: #298;
    font-weight: 900;
}
.main-button a {
    display: inline-block;
    font-size: 15px;
    padding: 12px 20px;
    background-color: black;
    color: #fff;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
   
}
#features {
    margin-bottom: 80px;
}
section{
display: block;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
.section-heading {
    text-align: center;
    margin-top: 140px;
    margin-bottom: 80px;
}
* {
    box-sizing: border-box;
}
.section-heading h2 {
    font-size: 28px;
    font-weight: 800;
    color: #232d39;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.section-heading {
    text-align: center;
   }
.section-heading h2 em {
    font-style: normal;
    color: #298;
}
.section-heading img {
    margin: 20px auto;
}
p {
    font-size: 18px;
    line-height: 25px;
    color: unset;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.feature-item {
    display: block;
    margin-bottom: 60px;

}
.feature-item .left-icon img {
    float: left;
    margin-right: 30px;
}
.feature-item .right-content {
    display: inline;
}
.feature-item .right-content h4 {
    margin-top: 0px;
padding: 0px 120px 0px 0px;
    margin-bottom: 7px;
    letter-spacing: 0.25px;
    color: red;
    font-size: 19px;
    font-weight: 600;
    text-transform: capitalize;
}
.feature-item .right-content a.text-button {
    margin-top: 7px;
    display: inline-block;
    font-size: 17px;
    text-transform: uppercase;
    color: #ed563b;
    font-weight: 700;
}
#bgmade {
    padding: 10px 0px;
    background-image: url("C:/Users/Tanmay Kadam/Desktop/NoobChain/2.jpg");
    background-position: 0px 0px ;
    background-repeat: no-repeat;
    background-size: cover;
 }
#hwimg {
min-width: 100%;
    min-height: 0vh;
    max-width: 100%;
    max-height: 10-0vh;
    object-fit: cover;
    z-index: -1;
}
.hwbtn button {
  background-color: #298; /* Green background */
  border: 5px solid rgba(255, 255, 255, .5);
  color: black; /* White text */
  padding: 10px 40px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 100%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
 margin-bottom:50px;
    border-radius:10px !important;
}
.hwbtn button:hover {
  background-color: white;
}



